*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,Arial, Helvetica, sans-serif;
}

:root{
    --white: #f5f1f1;
    --black: #1d1c1c;
    --size: 10px;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: var(--white);
}

header{ 
  position: relative; 
  padding: var(--size);
  width: auto;
  color: var(--white);

}

header h1{  
    font-size: 1.25rem;
}

header img{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: background-color 0.15s;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    margin: auto;
    width: 20px;
}

header img:hover{
    background-color: rgb(204, 202, 202);
}

header p{
    font-size: 0.80rem;
}

main{
    position: relative;
    background-color: var(--black);
    height: 400px;
    width: 400px;
    padding: var(--size);
    border-radius: var(--size);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.content{
    width: auto;
    height: 275px;
    overflow: auto;
    padding: var(--size);
}

.adder{
  display: flex;
  justify-content: space-between;
  margin-top: var(--size);
}

.adder input{
    border-radius: var(--size);
    border: none;
    padding: 5px;
}

.adder input:focus{
    outline: none;
}

.adder button{
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.adder button:hover{
    transition: background-color 0.15s;
    background-color: rgb(204, 202, 202);
}

.List-Todo .list {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-radius: var(--size);
    text-align: center;
    padding: var(--size);
    max-width: 100%;
    margin: 5px 8px 0 8px;
    overflow: auto;
    font-size: 0.80rem;
    background-color: var(--white);
    box-shadow: rgba(224, 225, 226, 0.3) 0px 1px 2px 0px, rgba(208, 210, 211, 0.15) 0px 2px 6px 2px;
}

.List-Todo .list > * {
    flex-shrink: 1; /* Allow items to shrink to fit */
}

.delete-button{
    border: none;
    background-color: inherit;
    color: red;
    font-size: 1rem;
}

footer {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

a{ 
   color: var(--black);
   cursor: pointer;
   font-size: 1.20rem;
}

a:hover{
     color: #242424;
}

body.dark-mode {
    background-color: var(--black);
}

.dark-mode a {
    color: var(--white);
}

.dark-mode main{
    background-color: rgb(228, 225, 225); 
}

.dark-mode header{
    color: var(--black);
}




